body {
    background: #b0c6d9;
}

.searchBar {
    padding: 15px;
}

#inp1 {
    margin-bottom: 5px;
    padding: 10px 10px 10px 5px;
    background: #cce8ff;
    filter: brightness(90%);
    border-color: #557a95;
}

#inp1:focus {
    background-color: #cce8ff;
    filter: brightness(80%);
}

#form:focus {
    border-color: #e85a4f;
}

button {
    padding: 10px;
    border: transparent;
    width: 150px;
    height: 50px;
    font-size: 16px;
    background:#7395ae;
    color: white;
}

#searchButton, #form {
    display: flex;
    align-items: center;
    justify-content: center;
}

button:hover {
    background: #557a95;
}

a {
    color: black;
    text-decoration: none;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table td, table th {
    border: 1px solid #b0c6d9;
    padding: 8px;
}

table tr:nth-child(even) {
    background-color: #b0c6d9;
    filter: brightness(80%);
}

table tr:hover {
    background-color: #7395ae;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #557a95;
    color: black;
}

#errorpar {
    color: red;
    text-align: center;
}
